* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffefe7;
  font-family: "IBM Plex Sans", sans-serif;
  color: #7c6a0a;
  font-size: 16px;
}

section {
  margin: auto;
  max-width: 1200px;
  padding: 0px 16px;
}
section h3 {
  font-size: 24px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 12px 24px;
}
nav h1 {
  font-size: 24px;
}
@media (min-width: 768px) {
  nav h1 {
    font-size: 32px;
  }
}
nav .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}
nav .icons button {
  padding: 4px;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}
@media (min-width: 768px) {
  nav .icons button {
    padding: 8px;
  }
}

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  padding: 0px 16px;
}
@media (min-width: 768px) {
  article {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 768px) {
  article {
    margin: auto;
    max-width: 1200px;
  }
}
article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 24px 0px;
  gap: 62px;
}
@media (min-width: 768px) {
  article .impact-section {
    width: 50%;
  }
}
article .impact-section h2 {
  font-size: 48px;
}
article .impact-section p {
  line-height: 1.5;
}
article .impact-section button {
  align-self: center;
  background-color: #fa9500;
  border: none;
  padding: 18px 42px;
  border-radius: 50px;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #ffefe7;
  cursor: pointer;
}
article .impact-section button:hover {
  background-color: #7c6a0a;
}
@media (min-width: 1024px) {
  article .impact-section button {
    align-self: flex-start;
  }
}
article .image-section {
  padding: 24px 0px;
  text-align: center;
}
@media (min-width: 768px) {
  article .image-section {
    text-align: right;
    width: 50%;
  }
}
article .image-section img {
  width: 80%;
}

.health-products, .forniture-products {
  padding: 24px 0;
}
.health-products h3, .forniture-products h3 {
  align-self: flex-start;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .health-products h3, .forniture-products h3 {
    margin-bottom: 60px;
  }
}
.health-products .card-section, .forniture-products .card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0px;
}
@media (min-width: 768px) {
  .health-products .card-section, .forniture-products .card-section {
    padding: 0 24px;
    gap: 42px;
  }
}
.health-products .product-card, .forniture-products .product-card, .health-products .product-card--forniture, .forniture-products .product-card--forniture {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
  padding: 12px;
  width: 250px;
  height: 440px;
  overflow: hidden;
  background-color: #ffdac6;
  border-radius: 8px;
}
.health-products .product-card h4, .forniture-products .product-card h4, .health-products .product-card--forniture h4, .forniture-products .product-card--forniture h4 {
  font-size: 24px;
}
.health-products .product-card .product-image, .forniture-products .product-card .product-image, .health-products .product-card--forniture .product-image, .forniture-products .product-card--forniture .product-image {
  width: 100%;
  height: 250px;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.health-products .product-card .product-image img, .forniture-products .product-card .product-image img, .health-products .product-card--forniture .product-image img, .forniture-products .product-card--forniture .product-image img {
  width: 100%;
}
.health-products .product-card--forniture, .forniture-products .product-card--forniture {
  background-color: #BABD8D;
  color: #ffefe7;
}

.info-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.info-section .why-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0;
  width: 100%;
}
.info-section .why-info h3 {
  align-self: flex-start;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .info-section .why-info h3 {
    margin-bottom: 60px;
  }
}
.info-section .why-info .section-why {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}
@media (min-width: 768px) {
  .info-section .why-info .section-why {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.info-section .why-info .section-why .image-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .info-section .why-info .section-why .image-content {
    flex-direction: row;
    justify-content: center;
    align-items: space-between;
  }
}
.info-section .why-info .section-why .image-content img {
  width: 150px;
}
.info-section .gallery-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0;
  width: 100%;
}
.info-section .gallery-info h3 {
  align-self: flex-start;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .info-section .gallery-info h3 {
    margin-bottom: 60px;
  }
}
.info-section .gallery-info .gallery-cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  align-items: center;
}
@media (min-width: 768px) {
  .info-section .gallery-info .gallery-cards {
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
  }
}
.info-section .gallery-info .gallery-cards img {
  border-radius: 8px;
  width: 250px;
  height: 240px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 16px 0px;
}
.info-section .map-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px 0;
  width: 100%;
}
.info-section .map-info h3 {
  align-self: flex-start;
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .info-section .map-info h3 {
    margin-bottom: 60px;
  }
}
.info-section .map-info .img-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 16px;
}
.info-section .map-info .img-container img {
  width: 100%;
}

footer {
  background-color: #fa9500;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  color: #ffefe7;
}
footer .footer-container {
  padding: 32px 16px;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
}
@media (min-width: 768px) {
  footer .footer-container {
    flex-direction: row;
    justify-content: center;
    align-items: space-around;
  }
}/*# sourceMappingURL=main.css.map */