// Variables

$primary-color:#ffefe7;
$secondaty-color: #ffdac6;
$tertiary-color: #BABD8D;
$quarter-color: #fa9500;
$primary-text-color:#7c6a0a;
$font-stack: "IBM Plex Sans", sans-serif;

//Mixins

@mixin respond-to($breackpoint){
  @if $breackpoint== phmd {
    @media (min-width:375px){@content;}
  }@else if $breackpoint == phlg {
    @media (min-width:425px) {@content;}
  }@else if $breackpoint == tablet {
    @media (min-width:768px) {@content;}
  }@else if $breackpoint == laptop {
    @media (min-width:1024px) {@content;}
  }
}

@mixin flexbox($direction, $content, $align){
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $align;
}
@mixin flexColumntoRow($direction: column, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $align;
  align-items: $justify;
  @include respond-to(tablet) {
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
    
  }
}

@mixin button-style{
  button{
    background-color: transparent;
    border: none;
  }
}

//Section estilos globales

*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body{
  background-color: $primary-color;
  font-family: $font-stack;
  color: $primary-text-color;
  font-size: 16px;
}
section{
  margin: auto;
  max-width: 1200px;
  padding: 0px 16px;
  h3{
    font-size: 24px;
  }
}

// Barra de navegación

nav{
  @include flexbox(row, space-between, center);
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 12px 24px;
  h1{
    font-size: 24px;
    @include respond-to(tablet){
      font-size: 32px;
    }
  
  }
  .icons{
    @include flexbox(row, space-between, center);
    gap: 8px;
    button{
      padding: 4px;
      height: fit-content;
      width: fit-content;
      background-color: transparent;
      border-style: none;
      cursor: pointer;
      @include respond-to(tablet){
        padding: 8px;
      }
    }
  }
}

// Inicio Article

article{
  @include flexColumntoRow( column, space-between, center);
  padding: 0px 16px;
  @include respond-to(tablet) {
    margin: auto;
    max-width: 1200px;
  }
  .impact-section{
    @include flexbox(column,flex-start , flex-start);
    padding: 24px 0px;
    gap: 62px;
    @include respond-to(tablet) {
    width: 50%;
    }
    h2{
      font-size: 48px;
    }
    p{
      line-height: 1.5;
    }
    button{
      align-self: center;
      background-color: $quarter-color;
      border: none;
      padding: 18px 42px;
      border-radius:50px;
      font-family: $font-stack;
      font-weight: 500;
      font-size: 20px;
      color: $primary-color;
      cursor: pointer;
      &:hover{
        background-color: $primary-text-color;
      }
      @include respond-to(laptop){
      align-self: flex-start;
      }
    }
  }
  .image-section{
    padding: 24px 0px;
    text-align: center;
    @include respond-to(tablet) {
      text-align: right;
      width: 50%;
      }
    img{
      width: 80%;
    }
  }
}

// Productos salud

.health-products{
  padding: 24px 0;
  h3{
    align-self: flex-start;
    margin-bottom: 24px;
    @include respond-to(tablet){
      margin-bottom: 60px;
      }
  }
  .card-section{
    @include flexbox(row, space-evenly, center);
    flex-wrap: wrap;
    gap: 24px;
    padding: 0px;
    @include respond-to(tablet){
      padding: 0 24px;
      gap: 42px;
      }
  }
  .product-card{
    @include flexbox(column, space-between, flex-start);
    gap: 16px;
    padding: 12px;
    width: 250px;
    height: 440px;
    overflow: hidden;
    background-color: $secondaty-color;
    border-radius: 8px;
    h4{
      font-size: 24px;
    }
    .product-image{
      width: 100%;
      height: 250px;
      border-radius: 8px 8px 0 0;
      display: flex;
      align-items: center;
      overflow: hidden;
      img{
        width: 100%;
      }
    }
  }
  .product-card--forniture{
    @extend .product-card;
    background-color: $tertiary-color;
    color: $primary-color;
  }
}

// Productos muebles

.forniture-products{
  @extend .health-products;
}

// Info section

.info-section{
  @include flexbox(column, space-between, flex-start);
  .why-info{
    @include flexbox(column, space-between, flex-start);
    padding: 24px 0;
    width: 100%;
    h3{
      align-self: flex-start;
      margin-bottom: 24px;
      @include respond-to(tablet){
        margin-bottom: 60px;
        }
    }
    .section-why{
      @include flexColumntoRow( column, space-between, center);
      .image-content{
        width: 100%;
        @include flexColumntoRow(column, center, space-between);
        align-items: center;
        text-align: center;
        img{
          width: 150px;
        }
      }
    }
  }
  .gallery-info{
    @include flexbox(column, space-between, flex-start);
    padding: 24px 0;
    width: 100%;
    h3{
      align-self: flex-start;
      margin-bottom: 24px;
      @include respond-to(tablet){
        margin-bottom: 60px;
        }
    }
    .gallery-cards{
      width: 100%;
      @include flexColumntoRow(column, center, space-around);
      align-items: center;
      img{
        border-radius: 8px;
        width: 250px;
        height: 240px;
        object-fit: cover;
        margin: 16px 0px;
      }
    }
  }
  .map-info{
    @include flexbox(column, space-between, flex-start);
    padding: 24px 0;
    width: 100%;
    h3{
      align-self: flex-start;
      margin-bottom: 24px;
      @include respond-to(tablet){
        margin-bottom: 60px;
        }
    }
    .img-container{
      @include flexbox(column, space-between, flex-start);
      gap: 16px;
      img{
        width: 100%;
      }
    }
  }
}

// Footer

footer{
  background-color: $quarter-color;
  width: 100%;
  height: fit-content;
  color: $primary-color;
  .footer-container{
    padding: 32px 16px;
    max-width: 1200px;
    margin: auto;
    @include flexColumntoRow(column, center, space-around);
    gap: 32px;
  }
}